* {
    box-sizing: border-box;
}


#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: Agency FB, Arial;
}


.length-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.length-form input {
    margin-bottom: 30px;
}

.length-form select {
    margin-bottom: 30px;
}

.holder {
    border: 2px solid black;
    padding: 1%;
    width: 100%;
}
